@model AspApiSample.Web.Models.Account.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<div class="row">
    <div class="col-md-4">
        @Html.AntiForgeryToken()
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            <div class="text-center login-div">
                <main class="form-signin">

                    @if (Model.Errors is not null)
                    {
                        @foreach (var error in Model.Errors)
                        {
                            <p class="text text-danger">@error</p>
                        }
                    }

                    <input type="email" id="EmailAddress" name="EmailAddress" value="@Model.EmailAddress"
                           class="form-control mb-2" required hidden/>

                    <div class="form-floating mb-2">
                        <input type="password" id="CurrentPassword" name="CurrentPassword" value="@Model.CurrentPassword"
                               class="form-control mb-2" placeholder="Current password" required/>
                        <input type="password" id="NewPassword" name="NewPassword" value="@Model.NewPassword"
                               class="form-control mb-2" placeholder="New password" required/>
                        <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" value="@Model.ConfirmNewPassword"
                               class="form-control" placeholder="Confirm new password" required/>
                    </div>
                    <input type="hidden" name="_target_path" value="/home"/>

                    <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                </main>
            </div>
        }
    </div>
</div>